
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.hero {
    position: sticky;
    top: 0vh;
    bottom: 100vh;
    height: 100vh;
}

.hero div.leaves {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: radial-gradient(47.41% 26.64% at 50% 50%, rgba(0, 0, 0, 0.056) 0%, rgba(4, 6, 46, 0.2) 100%), url("ForestCircle.png");
    background-size: 100%;
    background-position: center 30%;
    background-repeat: no-repeat;
}

.hero div.game {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.2) 100%), url("GameScreenshot.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hero img.logo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.about {
    height: 100vh;
}